.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 0px;
  background: rgba(255, 255, 255, 0.26);
  position: relative;
  overflow: hidden;
}

.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: #16c79a;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 5px;
}

.t-blur1{
  left: 38rem;
  top: 16rem;
}
.t-blur2{
  top: 9rem;
  left: 0;
}
/* .view{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position:relative;
  margin: 10px;
} */
/* .testimonial{
  display: flex;
  margin-top: 10px;
 
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;

  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--blueCard);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  box-sizing: border-box;
  flex-direction: column;
    justify-content: space-between;
} */
.project-detail{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgba(255, 255, 255, 0.26);
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .portfolio {
    display:flex;
    flex-direction: column;
    margin-top: -950px;
    /* background-color: #16c79a; */
  }
.portfolio .project-detail{
  display:flex;
  flex-direction: column;
}
}
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px){
  .portfolio {
    /* display:flex;
    flex-direction: column; */
    margin-top: -50px;
    /* background-color: #16c79a; */
  }
}