.Intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
  }
  
  /* left side styling */
  .i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
  }
  .i-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .i-name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
  }
  .i-name > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
  }
  .i-name > :nth-child(3) {
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
  }
  .i-button {
    width: 6rem;
    height: 2rem;
    font-size: 17px;
    margin: 2px;
  }
  /* .crop{
    width: 6rem;
    height: 2rem;
    font-size: 15px;
    padding: 12px;
    margin: 2px;
  } */
  .i-icons {
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
  }
  .i-icons > * {
    transform: scale(0.5);
  }
  .i-icons > *:hover {
    cursor: pointer;
  }
  /* right side styling */
  .i-right {
    flex: 1;
    position: relative;
    
  }
  .i-right > * {
    position: absolute;
    z-index: 1;
  }
  .i-right .crop{
    width: 40%;
    height: 47%;
    position: absolute;
    z-index: 0.5;
    top: 15%;
    left: 19%;
    border-radius: 10px;
    border-width: 0cm;
    border-color: #fdc50f;
    opacity: 0.90;
  }
  .i-right > :nth-child(1) {
    transform: scale(0.69);
    left: -10%;
    top: -12%;
  }
  .i-right > :nth-child(2) {
    top: -6.4rem;
    transform: scale(0.67);
    left: -3rem;
  }
  .i-right > :nth-child(3) {
    transform: scale(1.4);
    left: 28%;
  }
  .i-right > :nth-child(4) {
    transform: scale(0.62);
    top: -24%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
  }
  
  /* blur */
  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
  }
  
  @media screen and (max-width: 600px) {
    .Intro {
      flex-direction: column;
      gap: 7rem;
      height: 64rem;
    }
    .i-name {
      display: flex;
      flex-direction: column;
      gap: 0.10rem;
      margin-top: -80px;
    }
    .i-icons{
      /* background-color: aqua; */
      margin-top: -26px;
    }
    .i-name > :nth-child(3) {
      font-weight: 300;
      font-size: 16px;
      color: var(--gray);
      margin-top: 10px;
    }
  
    .i-right {
      display: none;
    }
  }

    @media screen and (min-width: 1200px) {
    
      .i-right > :nth-child(1) {
        left: -10%;
        top: -12%;
      }
      .i-right > :nth-child(2) {
        top: -6.4rem;
        transform: scale(0.67);
        left: -3rem;
      }
     .Intro .i-right .crop{
        width: 29%;
        height: 40%;
        z-index: 0.5;
        top: 15%;
        left: 35%;
        border-radius: 10px;
        border-width: 0cm;
        border-color: #fdc50f;
        opacity: 0.90;
      }
    }

    @media screen and (max-width: 1200px){
      .Intro .i-right .crop{
        width: 35%;
        height: 46%;
        z-index: 0.5;
        top: 15%;
        left: 40%;
        border-radius: 10px;
        border-width: 0cm;
        border-color: #fdc50f;
        opacity: 0.90; 
      }
    }       
    @media only screen and (min-device-width: 1080px) and (max-device-width: 1920px){
      .i-right > :nth-child(1) {
        left: -10%;
        top: -10%;
        height:95%;
        width:105%;
      }
      .i-right > :nth-child(2) {
        top: -14rem;
        transform: scale(0.67);
        left: -4rem;
        height:150%;
        width:100%;
      }
      .Intro .i-right .crop{
        width: 27%;
        height: 46%;
        z-index: 0.5;
        top: 15%;
        left: 23%;
        border-radius: 10px;
        border-width: 0cm;
        border-color: #fdc50f;
        opacity: 0.90; 
      }
      .i-name {
        display: flex;
        flex-direction: column;
        gap: 0.10rem;
        margin-top: -80px;
      }
      .i-icons{
        /* background-color: aqua; */
        margin-top: -20px;
      }
      .i-name > :nth-child(3) {
        font-weight: 300;
        font-size: 29px;
        color: var(--gray);
        margin-top: 10px;
      }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1366px){
      .i-right > :nth-child(2) {
        top: -8rem;
        transform: scale(0.67);
        left: -2.5rem;
        height:150%;
        width:100%;
      }
    }
    /* @media only screen and (min-width: 768px){
      .Intro {
        display: flex;
        height: 77vh;
        margin-top: 6rem;
      }
      
    
      .i-left {
        display: flex;
        position: relative;
        flex: 1;
        flex-direction: column;
        gap: 2rem;
        margin-left: 10px;
      }
      .i-name {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
      .i-right > :nth-child(1) {
        width:160%;
        height:100%;
        left: -26%;
        top: -10%;
        max-zoom: 1.5;
      }
      .i-right > :nth-child(2) {
        top: -22%;
        height:120%;
        width: 150%;
        transform: scale(0.67);
        left: -2rem;
        max-zoom: 1.5;
      }
      .i-right > :nth-child(4) {
        transform: scale(0.62);
        top: -22%;
        left: -10%;
        border-radius: 50%;
        padding: 0;
      }
      .Intro .i-right .crop{
        width: 39%;
        height: 40%;
        z-index: 0.5;
        top: 19%;
        left: 35%;
        border-radius: 10px;
        border-width: 0cm;
        border-color: #fdc50f;
        opacity: 0.90;
      }
      .i-icons{
        margin-top: -20px;
      }
      .i-name > :nth-child(3) {
        font-weight: 300;
        font-size: 20px;
        color: var(--gray);
        margin-top: 10px;
        align-self: center;
      }
    } */
  